{{#replies}}
<div id="reply-{{reply_id}}" name="replies" class="card mt-2">
  <div class="d-flex justify-content-between align-items-center">
  <div class="card-body">
      <a class="text-muted text-left" href="./prof/{{user_id}}">{{author}} replied to: {{user_name}}</a>
      <p class="card-text" id="reply_id_{{reply_id}}">{{content}}</p>
      <p class="text-muted text-right">{{timestamp}}</p>
      {{#edited}}
      <p class="text-muted text-right">Edited at: {{edited}}</p>
      {{/edited}}
      <button class="btn btn-primary reply-like" reply-id="{{reply_id}}">Like</button>
      <button class="btn btn-secondary" onclick="toggleReplyForm('{{post_id}}', '{{reply_id}}')">Reply</button>
      {{#editable}}
      <button id="edit_reply_{{reply_id}}" class="btn btn-secondary" onclick="edit_reply('{{reply_id}}')">Edit</button>
      <button id="delete_reply_{{reply_id}}" class="btn btn-danger" onclick="delete_reply('{{reply_id}}')">Delete</button>
      {{/editable}}
    </div>
    <span class="badge badge-info">{{reply_like_count}} Likes</span>
  </div>
</div>
{{/replies}}
